<h1 class="mt-4">Movies</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
{{ movie.title }}
    <form>
        <div class="col-md-6">
            <div class="form-group">
                <label>ID:</label>
                <input type="text" class="form-control" disabled="true"/>
            </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" [ngModel]="title"/>
        </div>
        </div>
    
        <div class="col-md-6">
        <div class="form-group">
        <label>SubTitle:</label>
        <input type="text" class="form-control" />
        </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group">
                <label>Year:</label>
                <input type="text" class="form-control" />
            </div>
        </div>



        <div class="col-md-6">
        <div class="form-group">
        <label>ImgUrl:</label>
        <input type="text" class="form-control" />
        </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Synopsis:</label>
                <input type="text" class="form-control" />
            </div>
        </div>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-sucess" (click)="clicar()">
            <i class="fa fa-save" ></i> Salvar
            </button>
    </div>
</div>

</form>
</div>