<h1 class="mt-4">Review</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Novo</li>
</ol>

<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
    
    <div class="row">
    <div class="col-md12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
        Review salvo/atualizado com sucesso
        </div>
    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="form-group">
            <label>Movie: </label>
            <select class="form-control"
            [ngModelOptions]="{standalone: true}"
                [(ngModel)]="review.movieId">
                <option value=""> Selecione ...</option>
                <option *ngFor="let movie of movies"
                [ngValue]="movie.id">
                {{ movie.title }}
                </option>
                </select>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-md-12">
    <div class="form-group">
        <label>Text: </label>
        <input class="form-control" [(ngModel)] = review.text type="text" name="text"
        id="inputText">
                </div>
            </div>
        </div>

    <div class="row">
    <div class="col-md-3">
        <button type="submit" class="btn btn-sucess">
        <i class="fa fa-save"></i>
        Salvar   
            </button>

    <button type="button" routerLink="/review/lista"
        class="btn btn-danger ml-1">
        <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
        </div>
    </div>
    </form>
</div>